



.p{
    margin: 20px auto; 
}
*{
    font-family: 'Roboto Mono', monospace!important;
}
body{
    background-color: #f2f2f2;
}
form{
    margin: auto;
    width: 80%;
}
input{
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
}
input[type=button]
{
    height:40px;
    width: 90px;
    font-size: 17px;
    font-family: 'Roboto Mono', monospace!important;
    cursor: pointer;
}
.color{
    background-color:#D11A2A ;
    border: 1px solid #D11A2A ;
}
.color1{
    background-color:#007bff ;
    border: 1px solid #007bff;
}
table{
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
}
span{
    padding-left: 10px;
    font-size: 19px;
    font-weight: bolder;
    font-family: 'Roboto Mono', monospace!important;
}
button{
    height:49px;
    width: 130px;
    font-size: 22px;
    font-family: 'Roboto Mono', monospace!important;
    cursor: pointer;
    background-color: #04AA6D;
    color: #fff;
    border: 1px solid #04AA6D;
    border-radius: 5px;
    position:relative;
    transition: 5s;
    
}

.margin111{
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
}
.width
{
    margin-top: 0px!important;
    border-radius: 10px;
}
.btnnn{
    border-top-left-radius: 0px;
    border-bottom-left-radius:0px ;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;
}
tr{
    text-align: center;
}
td{
    font-size: 20px;
    font-weight: bold;
    
}
td:first-child{
    width: 20%;
}
td:nth-child(2)
{
    width: 30%;
}
td:nth-child(3)
{
    width: 8%;
}
td:nth-child(4)
{
    width: 20%;
}
.color111
{
    background-color:#ffc107;
}



